@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
  /* p1: #abdcea;
     p2: #aad4e4;
     p3: #F0BCE4;
     p4: #CABEE1;
     p5: #f7f7f7; */

* {
  margin: 0;
  padding: 0;
  text-align: center;

}

h1 {
  font-family: "Roboto";
}
 p {
   font-family: "Noto Sans";
 }

div {
  display: inline-block;
}

#top {
  background-color: #CABEE1;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  width: 100%;
  text-align: left;
}

#middle1 {
  background-color: #F0BCE4;
}

#middle1 > h1 {
  font-size: 100px;
}

#middle2 {
  background-color: #aad4e4;
}

#bottom {
  width: 100%;
  background-color: #abdcea;
}
